.popup {
  background-color: rgba($color-black, 0.8);
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 3000;

  // normal "off state".  We do *not* use display: none,
  // since that's incompatible with animation.
  opacity: 0;
  visibility: hidden;

  // This pseudo class lets us modify our component.
  // To remove the popup, we just navigate to a different
  // HTML anchor.
  &:target {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__close {
    &:link,
    &:visited {
      color: $color-gray-dark;
      position: absolute;
      display: inline-block;
      top: 0.5rem;
      right: 0.5rem;
      font-size: 3rem;
      text-decoration: none;
      font-weight: 700;
      transition: all 0.2s;
    }

    &:hover,
    &:active {
      color: $color-black;
      transform: translateY(-2px);
    }
  }

  &__left &__close {
    display: none;
  }

  &__content {
    // Float based layout:
    //display: inline-block;

    // Add a bit of animation. Note that since there can only
    // be one transform per block, we repeat part of what absCenter
    // is doing. The scaling gives us a start point for the transition,
    // so it will look like the popup is coming at you. Like an oncoming
    // train, amirite?
    transform: translate(-50%, -50%) scale(0.5);

    // start with a .2s delay.
    transition: all 0.4s;

    // Table based layout:
    display: table;

    @include absCenter;
    @include clearfix;

    height: auto;
    width: 75%;
    background-color: $color-white;
    z-index: 3100;

    overflow: hidden;

    border-radius: 2px;
    box-shadow: 0 2rem 4rem rgba($color-black, 0.5);

    @include respond(tab-port) {
      display: block;
      top: 40%;
      width: 70%;
      margin: 10% auto;
      height: 60%;
      margin: 10% auto;
    }

    @include respond(phone-land) {
      width: 90%;
      height: 80%;
      top: 10%;
      left: 10%;
      transform: translate(-5%, -20%);
      padding: 0 5rem;
    }

    @include respond(phone) {
      height: 80%;
    }
  }

  &__left {
    // Float based layout:
    // float: left;

    //Table based layout:
    display: table-cell;

    width: (100% / 3);

    @include respond(tab-port) {
      display: block;
      width: 100%;
      padding-top: 10%;
      @include clearfix;
    }

    @include respond(phone-land) {
      display: none;
    }
  }

  &__right {
    position: relative;
    // Float based layout:
    // float: left;
    // padding-top: 10%;
    // padding-left: 3rem;

    //Table based layout:
    display: table-cell;
    vertical-align: middle;
    padding-left: 3rem;

    width: (100% * 2 / 3 - 3%);
    @include respond(tab-port) {
      display: block;
      width: 100%;
      padding-top: 5rem;
    }
  }

  &__img {
    display: block;
    width: 100%;
    @include respond(tab-port) {
      display: inline-block;
      width: 40%;

      &--1 {
        float: left;
        margin-left: 3rem;
        margin-top: 2rem;
        z-index: 3110;
      }

      &--2 {
        float: right;
        margin-right: 3rem;
        margin-top: 4rem;
        z-index: 3105;
      }
    }
  }

  &__text {
    font-size: 1.4rem;
    margin-bottom: 4rem;

    column-count: 2;
    column-gap: 2rem;
    column-rule: 1px solid $color-gray-dark;
    hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;

    @include respond(phone) {
      column-count: 1;
      hyphens: none;
      -webkit-hyphens: none;
      -ms-hyphens: none;
      margin-right: 2rem;
    }
  }

  @include respond(tab-port) {
    &__right &__close {
      display: none;
    }

    &__left &__close {
      display: inline-block;
    }

    & .heading-secondary {
      text-align: center;
      margin-right: 4rem;
    }
  }

  @include respond(phone-land) {
    &__right &__close {
      display: inline-block;
      right: -1em;
    }
  }
}
