// looping background video underlay.

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.15;
  // Not observed in my browsers, but if
  // the video overflows, hide it.
  overflow: hidden;

  &__content {
    width: 100%;
    height: 100%;
    // Make the video keep its aspect ratio
    // but still cover the entire parent div.
    object-fit: cover;
  }
}
