// Booking form
.form {
  &__group {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__input {
    font-size: 1.5rem;
    padding: 1.5rem 2rem;
    border-radius: 2px;
    width: 90%;
    display: block;
    border: none;
    border-bottom: 3px solid transparent;
    background-color: rgba($color-white, 0.5);
    // Input elements don't inherit FF by default:
    font-family: inherit;
    color: inherit;
    transition: all 0.3s;

    @include respond(tab-port) {
      width: 100%;
    }

    &::-webkit-input-placeholder {
      color: color-gray-dark-2;
    }

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }

    // Give feedback that we are not yet valid per browser validation:
    &:invalid:focus {
      border-bottom: 3px solid $color-secondary-dark;
    }
  }

  &__label {
    margin-left: 2rem;
    font-size: 1.2rem;
    display: block;
    transition: all 0.3s;
    opacity: 1;
  }

  // use the adjacent sibling to trigger the appearance of the label.
  &__input:placeholder-shown + &__label {
    // we want to animate the following, and visibility cannot
    // be animated. So we use opacity in addition.
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__input:focus &__label {
    display: block;
  }

  &__radio-group {
    display: inline-block;
    width: 45%;

    @include respond(tab-port) {
      display: block;
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__radio-input {
    display: none;
  }

  &__radio-label {
    font-size: $default-font-size;
    cursor: pointer;
    position: relative;
    padding: 2px;
    padding-left: 3rem;

    &:focus {
      outline: dashed 2px rgba($color-black, 0.1);
    }
  }

  // ~ could have been used here instead of +:
  &__radio-input:checked + label > &__radio-button::after {
    opacity: 1;
  }

  &__radio-button {
    // We make the custom button out of two components: an outer circle, and an inner
    // dot when the button is in the checked state.
    display: inline-block; // needed for sizing
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 5px solid $color-primary;
    border-radius: 50%;
    //transform: translate(-2.5rem, 0.5rem);
    left: 0;
    top: 1px;
    transition: opacity 0.2s;

    &::after {
      position: absolute;
      display: block;
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      border: 3px solid $color-primary;
      background-color: $color-primary;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
    }
  }
}
