/**
  btn with some useful pseudoclasses.  We want
  the button to look the same both in its "resting"
  and "previously clicked" states.

  We get the button centered by putting text-align: center
  into the settings for the .text-box.

  The buttons move a bit "up" when hovered or clicked (i.e.,
  active).

  We use the simpler transition property to animate the button.
  It's put on the element itself; the transform properties 
  we put on :hover and :active are what are affected.

  The box-shadow is a combined property with x, y, and blur values.
  The color is made somewhat transparent to make it more subtle.

  We make the :active button look a little "closer" to the viewer
  with the more focused settings.

  We use the ::after pseudo-element to create the radar like 
  effect of the button expanding when hovered.

    - content is required, even if empty.
    - display: inline-block matches the button.
    - most props match the parent button, so by default
      the ::after is hidden behind the button.
  
  */

.btn {
  &,
  &:link,
  &:visited {
    text-transform: uppercase;
    font-size: $default-font-size;
    text-decoration: none;
    display: inline-block;
    border-radius: 10rem;
    transition: all 0.2sec;
    position: relative;
    //If used on a button element
    border: none;
    cursor: pointer;
  }

  &:hover {
    transform: translateY(-0.3rem);
    // offset-x | offset-y | blur-radius | color
    box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
  }

  &:active,
  &:focus {
    transform: translateY(-0.1rem);
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
    outline: none;
  }

  /**
      Start the animation with a delay of .75s, and 
      set the initial state of the button at the 0%
      state, so the button is not visible before the
      animation starts.
    */
  &--animated {
    animation: moveButtonUp 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
  }

  &::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition-property: all;
    transition-duration: 0.4s;
  }

  &--white {
    background-color: $color-white;
    color: $color-gray-dark;
    padding: 1.5rem 4rem;

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      background-color: inherit;
      opacity: 0;
    }
  }
  &--green {
    background-color: $color-primary;
    color: $color-white;
    padding: 1.5rem 4rem;

    &:hover::after {
      transform: scaleX(1.4) scaleY(1.6);
      background-color: inherit;
      opacity: 0;
    }
  }
}

.btn-text {
  &:link,
  &:visited {
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    font-size: $default-font-size;
    // We use px here because if it's a small unit
    // it will be rounded to near nothing anyway.
    border-bottom: 1px solid $color-primary;
    padding: 3px;
    transition: all 0.2s;

    @include respond(tab-land) {
      background-color: $color-primary;
      color: $color-white;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    }
  }

  &:hover {
    background-color: $color-primary;
    color: $color-white;
    box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
    // nudge the button up a bit.
    transform: translateY(-2px);
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba($color-black, 0.15);
    transform: translateY(0);
    @include respond(tab-land) {
      transform: translateY(-2px);
    }
  }
}
