.card {
  //The "distance" to the card. Large because with a
  // low value it looks like the door is hitting you
  // in the face. Ouch.
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative;
  // We add height, since the use of position: absolute
  // by the children collapse this div and screws up
  // perspective.
  height: 52rem;

  &__side {
    height: 52rem;
    border-radius: 3px;
    // We will put a background image over the side, which will
    // obscure our rounded corner. Use overflow to clip out the
    // corner of out backound images:
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    position: absolute; //takes items out of natural flow.
    top: 0;
    left: 0;
    // position: absolute collapses the sides, so add a width
    width: 100%;
    // back faces get hidden, so we only
    // see the front side of the card sides.
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: all 0.8s;

    &--front {
      background-color: $color-white;
      color: $color-black;
    }

    &--back {
      transform: rotateY(180deg);

      &-1 {
        background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        );
      }
      &-3 {
        background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        );
      }
      &-2 {
        background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        );
      }
    }
  }

  &:hover &__side--front,
  &__side--front.turn-blue {
    transform: rotateY(-180deg);
  }
  &:hover &__side--back,
  &__side--front.turn-blue ~ &__side--back {
    transform: rotateY(0);
  }

  // Front side styling.
  &__picture {
    background-size: cover;
    background-blend-mode: screen;
    height: 23rem;
    // Create an angular cut at the bottom of the image.
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &--1 {
      background-image: linear-gradient(
          to right bottom,
          $color-secondary-light,
          $color-secondary-dark
        ),
        url(../img/nat-5.jpg);
    }
    &--3 {
      background-image: linear-gradient(
          to right bottom,
          $color-tertiary-light,
          $color-tertiary-dark
        ),
        url(../img/nat-7.jpg);
    }
    &--2 {
      background-image: linear-gradient(
          to right bottom,
          $color-primary-light,
          $color-primary-dark
        ),
        url(../img/nat-6.jpg);
    }
  }

  &__heading {
    font-size: 2.5rem;
    font-weight: 300;
    text-transform: uppercase;
    color: $color-white;
    position: absolute;
    top: 12rem;
    right: 2rem;
    text-align: right;
    width: 75%;
  }

  &__heading-span {
    // vertical | horizontal
    padding: 1rem 1.5rem;

    // If we go to two lines in the header, the spacing will be off at
    // the point of break. To fix this, there's a new property.
    box-decoration-break: clone;
    // New enough that we need to supply an alternative
    -webkit-box-decoration-break: clone;

    &--1 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-secondary-light, 0.85),
        rgba($color-secondary-dark, 0.85)
      );
    }
    &--3 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-tertiary-light, 0.85),
        rgba($color-tertiary-dark, 0.85)
      );
    }
    &--2 {
      background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.85),
        rgba($color-primary-dark, 0.85)
      );
    }
  }

  &__details {
    padding: 3rem;
    ul {
      list-style-type: none;
      width: 80%;
      // Use margins to center.
      margin: 0 auto;

      li {
        padding: 1rem;
        text-align: center;
        font-size: 1.5rem;

        &:not(:last-child) {
          border-bottom: solid thin $color-gray-light-2;
        }
      }
    }
  }

  //back side styling
  &__cta {
    // We use the technique from the header:
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__price-box {
    text-align: center;
    color: $color-white;
    margin-bottom: 4rem;

    &--value {
      font-size: 6rem;
      // Large fonts look better at lower weight.
      font-weight: 300;
    }

    &--only {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }

  // @include respond(tab-port) {
  // we use a special media query so we can capture larger iOS devices
  // and similar android devices:
  @media only screen and (max-width: 56.25em), only screen and (hover: none) {
    position: relative;
    border-radius: 3px;
    height: auto;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);

    &__side {
      height: auto;
      // We will put a background image over the side, which will
      // obscure our rounded corner. Use overflow to clip out the
      // corner of out backound images:
      overflow: hidden;
      box-shadow: none;

      position: relative;

      top: 0;
      left: 0;
      // position: absolute collapses the sides, so add a width
      width: 100%;
      backface-visibility: visible;
      -webkit-backface-visibility: visible;

      &--front {
        background-color: $color-white;
        color: $color-black;
        padding-bottom: 10rem;
      }

      &--back {
        height: 50rem;
        transform: none;
        clip-path: polygon(0 10%, 100% 0, 100% 100%, 0 100%);
        margin-top: -10rem;

        &-1 {
          background-image: linear-gradient(
            to right bottom,
            $color-secondary-light,
            $color-secondary-dark
          );
        }
        &-3 {
          background-image: linear-gradient(
            to right bottom,
            $color-tertiary-light,
            $color-tertiary-dark
          );
        }
        &-2 {
          background-image: linear-gradient(
            to right bottom,
            $color-primary-light,
            $color-primary-dark
          );
        }
      }
    }

    &:hover &__side--front {
      transform: none;
    }
    &:hover &__side--back {
      transform: none;
    }

    // Front side styling.
    &__picture {
      background-size: cover;
      background-blend-mode: screen;
      height: 23rem;
      // Create an angular cut at the bottom of the image.
      clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &--1 {
        background-image: linear-gradient(
            to right bottom,
            $color-secondary-light,
            $color-secondary-dark
          ),
          url(../img/nat-5.jpg);
      }
      &--3 {
        background-image: linear-gradient(
            to right bottom,
            $color-tertiary-light,
            $color-tertiary-dark
          ),
          url(../img/nat-7.jpg);
      }
      &--2 {
        background-image: linear-gradient(
            to right bottom,
            $color-primary-light,
            $color-primary-dark
          ),
          url(../img/nat-6.jpg);
      }
    }

    &__heading {
      font-size: 2.5rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color-white;
      position: absolute;
      top: 12rem;
      right: 2rem;
      text-align: right;
      width: 75%;
    }

    &__heading-span {
      // vertical | horizontal
      padding: 1rem 1.5rem;

      // If we go to two lines in the header, the spacing will be off at
      // the point of break. To fix this, there's a new property.
      box-decoration-break: clone;
      // New enough that we need to supply an alternative
      -webkit-box-decoration-break: clone;

      &--1 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-secondary-light, 0.85),
          rgba($color-secondary-dark, 0.85)
        );
      }
      &--3 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-tertiary-light, 0.85),
          rgba($color-tertiary-dark, 0.85)
        );
      }
      &--2 {
        background-image: linear-gradient(
          to right bottom,
          rgba($color-primary-light, 0.85),
          rgba($color-primary-dark, 0.85)
        );
      }
    }

    &__details {
      padding: 3rem;
      ul {
        list-style-type: none;
        width: 80%;
        // Use margins to center.
        margin: 0 auto;

        li {
          padding: 1rem;
          text-align: center;
          font-size: 1.5rem;

          &:not(:last-child) {
            border-bottom: solid thin $color-gray-light-2;
          }
        }
      }
    }

    //back side styling
    &__cta {
      width: 90%;
      text-align: center;
    }

    &__price-box {
      text-align: center;
      color: $color-white;
      margin-bottom: 3rem;

      &--value {
        font-size: 4rem;
        // Large fonts look better at lower weight.
        font-weight: 300;
      }

      &--only {
        font-size: 1.5rem;
        text-transform: uppercase;
      }
    }
  }
}
