// Photo composition
.composition {
  position: relative;
  &__photo {
    position: absolute;
    width: 55%;
    z-index: 10;
    transition: all 2sec;
    // offset-x | offset-y | blur-radius | color
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
    // very subtle rounding of the corners.
    border-radius: 2px;
    outline: none;

    // Needs serious changes once the columns go to 100%
    // on narrow screens.
    @include respond(tab-port) {
      position: relative;
      float: left;
      width: (100% / 3);
      box-shadow: 0 1.5rem 3rem rgba($color-black, 0.2);
    }

    &:hover {
      z-index: 20;
      transform: scale(1.05) translateY(-0.2rem);
      box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
      outline: 1.5rem solid $color-primary;
      outline-offset: 2rem;

      @include respond(tab-port) {
        z-index: 110;
      }
    }

    &--p1 {
      top: -2rem;
      left: 0;
      @include respond(tab-port) {
        top: 0;
        left: unset;
        transform: scale(0.9);
      }
    }

    &--p2 {
      top: 2rem;
      right: 0;
      @include respond(tab-port) {
        top: -2rem;
        right: unset;
        transform: scale(1.1);
        z-index: 100;
      }
    }

    &--p3 {
      top: 10rem;
      left: 20%;
      @include respond(tab-port) {
        left: unset;
        top: 0;
      }
    }
  }
  // tricky selector. To get the non-hovered pictures to get smaller, but
  // *only* when the front one is hovered, we need to detect not only the other
  // imagess are not getting hovered; we need to detect that *something* is in
  // hover state. So we check the composition itself, and then apply to any
  // images that is not also being hovered.
  &:hover &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
