// Feature box in features section.
.feature-box {
  background-color: rgba($color-white, 0.8);
  font-size: 1.5rem;
  padding: 2.5rem;
  padding-bottom: 10rem;
  text-align: center;
  max-height: 40rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
  margin-top: 15%;
  transition: transform 0.3s;
  overflow: hidden;

  &:hover {
    transform: scale(1.03) translateY(-0.5rem);
  }

  &__icon {
    font-size: 6rem;
    margin-bottom: 0.1rem;
    display: inline-block;
    background-image: linear-gradient(
      to right,
      $color-primary-light,
      $color-primary-dark
    );

    @include respond(tab-port) {
      margin-bottom: 0;
    }

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
  }
}
