// Customer testimonial section
.story {
  width: 75%;
  // center within the row block
  margin: 0 auto;
  padding: 6rem;
  padding-left: 9rem;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.1);
  background-color: rgba($color-white, 0.6);
  border-radius: 3px;
  font-size: $default-font-size;

  // We want an X-skew here
  transform: skewX(-12deg);

  @include clearfix;

  &__image {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    transition: all 0.4s;
  }

  &:hover &__image {
    opacity: 0.7;
    transform: translateX(-4rem) scale(1);
    filter: blur(1px) brightness(80%);
  }

  &__caption {
    // Vertical and horizontal centering
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0);
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    transition: all 0.4s;
    color: $color-white;
    opacity: 0;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  // Unskewing is a bit more complex this time. The & > * approach
  // used for the feature boxes would work on the &__text but not
  // the &__shape, since you cannot currently apply two separate
  // transforms on the same element in CSS3. So we unskew each
  // separately, and use a compound transform for the shape.

  &__shape {
    float: left;
    position: relative;
    width: 15rem;
    height: 15rem;
    // 50% of width at the 50% point, as in the center.
    shape-outside: circle(50% at 50%);
    -webkit-shape-outside: circle(50% at 50%);

    clip-path: circle(50% at 50%);
    -webkit-clip-path: circle(50% at 50%);

    transform: translateX(-3rem) skewX(12deg);
    border-radius: none;
  }

  &__text {
    transform: skewX(12deg);
  }

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem;
  }

  @include respond(phone) {
    // First, lose the skew.
    transform: skewX(0);

    &__shape {
      transform: none;
    }

    &__text {
      transform: none;
    }
  }
}
