/**
Animations with @keyframe NAME-OF-ANIMATION.

moveTextLeft starts the text left of where it is by
default, and we have it move a bit *too* far, and then work
its way back 20px.

Used by element with animation-name and animation-duration as 
the minimal things to set.

Can shorten what we used to 
animation: moveTextLeft 1s ease-out

Adding "backface-visibility: hidden" to the h1 element prevents a
weird sort of shaking effect that occurs in the automation.

*/

@keyframes moveTextLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }

  80% {
    transform: translateX(1rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveTextRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }

  80% {
    transform: translateX(-10rem);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveButtonUp {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
