/*

Core principle: the idea of a "unversal reset" of a project's css. This is done
to even out different defaults on browsers. We set some defaults for the 
default element.

We put font settings under a body selector since fonts inherit from the body element
and it is most efficient to exploit this inheritance for this.

We also add padding to the body to give some white-space around the entire page
as displayed.

It's a slightly better practice to force inheritance on box-sizing (there are
plugins that like the old default), so instead of putting box-sizing: border-box
in the reset, we can move the value to body, and change the default to "inherit".
This will have the same effect, but is easier to override.

*/

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/**
 Setting the root font-size

 Since rem units are a function of the root font-size, you can 
 resize an entire document by manipulating its value if you are stating
 all of your sizes in rems. Root font-size ≠ *default* font-size; you can
 set that higher up.

 It makes sense to choose a value that makes it easy to do conversions, so
 we choose 10px.  Note that the value is inherited, and that we're overriding
 font-size in the body element.  1rem == 10px, easy to calculate.

 To allow users to change the default font-size, we really should not
 set the root font-size in px, but as a %. To get the effect of a 10px
 font-size,  note that 100% is 16px, so 10px is 62.5%.
 */
html {
  font-size: 62.5%; //rem == 10px

  @include respond(tab-land) {
    // rem == 9px
    font-size: 56.25%;
  }

  @include respond(tab-port) {
    // rem == 8px
    font-size: 50%;
  }

  @include respond(big-desk) {
    // rem == 12px
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  @include respond(tab-port) {
    padding: 0;
  }
}

::selection {
  //make our selections match the master color scheme.
  background-color: $color-primary;
  color: $color-white;
}
