body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: $default-font-size;
  line-height: 1.7;
  color: $color-gray-dark;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation-name: moveTextLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
      font: 5rem;
    }
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;
    animation-name: moveTextRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    @include respond(phone) {
      letter-spacing: 1rem;
    }
  }
}

.heading-secondary {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  // Set up skew effect by defining a transition
  transition: all 0.2sec;

  // We want a funky twist effect on this heading,
  // and to do that, we first put a gradient bg on it.
  background-image: linear-gradient(
    to right,
    $color-primary-light,
    $color-primary-dark
  );
  //limit the gradient to legth of the text, and clip it
  // to the letters themselves. The letters now have the
  // greenish gradient.
  display: inline-block;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @include respond(tab-port) {
    font-size: 3rem;
  }

  // second because last-in wins
  // when both max-width are satisfied.
  @include respond(phone) {
    font-size: 2.5rem;
  }

  // The skew effect
  &:hover {
    transform: skewY(2deg) skewX(15deg) scale(1.1);
    // offset-x | offset-y | blur-radius | color:
    text-shadow: 0.5rem 1rem 2rem rgba($color-black, $alpha: 0.2);
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
