// Centering for inline-blocks or text.
.u-center-text {
  text-align: center;
}

// Make adding a bottom margin additive. We use this with
// our fancy h2 header.
.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 3rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
