.section-about {
  background-color: $color-gray-light-1;
  padding: 25rem 0;
  // We want to line up with the right bottom of the
  // green polygon of the header. Height of header
  // is 95vh; the right side is clipped at 75vh. Net
  // is 20vh.
  margin-top: -20vh;

  @include respond(tab-port) {
    margin-top: -18vh;
    padding: 22rem 0;
  }
}

.section-features {
  // We borrow from the header section.
  min-height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/nat-4.jpg);
  background-size: cover;
  background-position: top;
  margin-top: -10rem;
  padding: 15rem 4rem;

  @include clearfix;

  @include respond(tab-port) {
    padding: 10rem 5rem;
    margin-top: -5;
  }

  // skew the entire region.
  transform: skewY(-7deg);

  // ...but, we don't want the contents skewed.
  // So take the direct children of the region and unskew them.
  // This will be the row, which also will make sure that the
  // unskewed feature boxes aare not staggered.
  & > * {
    transform: skewY(7deg);
  }
}

.section-tours {
  background-color: $color-gray-light-1;
  // top | horizontal | bottom
  padding: 25rem 0 15rem 10rem;
  margin-top: -10rem;

  @include respond(tab-port) {
    // top | right | bottom | left
    margin-top: 0;
    padding: 10rem 0 15rem 0rem;
  }
}

.section-stories {
  padding: 15rem 0;
  //background-color: $color-gray-light-1;
  position: relative;
}

.section-book {
  padding: 15rem 0;
  position: relative;
  background-image: linear-gradient(
    to right bottom,
    $color-primary-light,
    $color-primary-dark
  );
}

.book {
  height: 50rem;

  // To create the angled white overlay we use a trick Jonas
  // calls the "solid color gradient".
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.9) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(../img/nat-10.jpg);
  // background-size: 100% is near equivalent, per Jonas.
  // It gave me a reuse of the image, so I'm using cover.
  background-size: cover;
  border-radius: 3px;
  padding: 0 5rem;
  box-shadow: 0 3rem 6rem rgba($color-black, 0.3);

  @include respond(tab-land) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 65%,
        transparent 65%
      ),
      url(../img/nat-10.jpg);
  }

  @include respond(tab-port) {
    background-image: linear-gradient(
        to right,
        rgba($color-white, 0.9) 0%,
        rgba($color-white, 0.9) 100%
      ),
      url(../img/nat-10.jpg);
  }

  &__form {
    width: 50%;
    padding: 2rem;

    @include respond(tab-land) {
      width: 65%;
    }

    @include respond(tab-port) {
      width: 100%;
      margin: 0 auto;
    }
  }
}
