.footer {
  background-color: $color-gray-dark-3;
  color: $color-gray-light-2;
  padding: 10rem 5rem;
  font-size: 1.4rem;

  @include respond(tab-port) {
    padding: 8rem 0;
  }

  &__logo-box {
    text-align: center;
    margin-bottom: 8rem;

    @include respond(tab-port) {
      margin-bottom: 4rem;
    }
  }

  &__logo {
    width: 15rem;
    height: auto;
  }

  &__navigation {
    padding-top: 2rem;
    border-top: thin solid $color-gray-dark;
    display: inline-block;

    @include respond(tab-port) {
      width: 100%;
      text-align: center;
    }
  }

  &__list {
    list-style: none;
  }

  &__item {
    display: inline-block;

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__link {
    &:link,
    &:visited {
      background-color: $color-gray-dark-3;
      color: $color-gray-light-1;
      transition: all 0.6s;
      text-decoration: none;
      text-transform: uppercase;
      // display inline-block is required for the effect to work.
      display: inline-block;
    }

    &:hover,
    &:active {
      color: $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.4);
      transform: rotate(5deg) scale(1.3);
      // offset-x | offset-y | blur-radius | color:
      text-shadow: 0.5rem 1rem 2rem rgba($color-black, $alpha: 0.2);
    }
  }

  &__copyright {
    border-top: 1px solid $color-gray-dark;
    padding-top: 2rem;
    width: 80%;
    float: right;

    @include respond(tab-port) {
      width: 100%;
      float: none;
    }
  }
}
