// Float based grid layout

.row {
  max-width: $grid-row-width;
  margin: 0 auto;

  @include respond(tab-port) {
    max-width: 60rem;
    padding: 0 3rem;
  }

  // put a gutter below each row except the last:
  &:not(:last-child) {
    margin-bottom: $gutter-vertical;

    @include respond(tab-port) {
      margin-bottom: $gutter-vertical-small;
    }
  }

  @include clearfix;

  // Fun trick: we select all of the classes that *start* with
  // col- with the following attribute selector:
  [class^='col-'] {
    float: left;
    //background-color: red;
    &:not(:last-child) {
      margin-right: $gutter-horizontal;

      @include respond(tab-port) {
        // No gutters once columns go 100%
        margin-right: 0;
        margin-bottom: $gutter-vertical-small;
      }
    }
    @include respond(tab-port) {
      // Columns look squirrelly on smaller devices,
      // so we transition to full-row columns.
      float: none;
      margin: 0 auto;
      width: 100% !important;
    }
  }

  .col-1-of-2 {
    width: calc((100% - #{$gutter-horizontal}) / 2);
  }

  .col-1-of-3 {
    width: calc((100% - #{$gutter-horizontal} * 2) / 3);
  }

  .col-2-of-3 {
    width: calc(
      2 * (100% - #{$gutter-horizontal} * 2) / 3 + #{$gutter-horizontal}
    );
  }

  .col-1-of-4 {
    width: calc((100% - #{$gutter-horizontal} * 3) / 4);
  }

  .col-2-of-4 {
    width: calc(
      2 * (100% - #{$gutter-horizontal} * 3) / 4 + #{$gutter-horizontal}
    );
  }

  .col-3-of-4 {
    width: calc(
      3 * (100% - #{$gutter-horizontal} * 3) / 4 + #{$gutter-horizontal} * 2
    );
  }
}
