/*
 header formatting.
 1. Use vh units, i.e., percentage of view port height.
 2. background-size: cover makes the image cover the box.
 3. background-top keeps the image nailed to the upper left.
 4. We add a color gradient, which needs to be background-image
    *before* the url declaration; effectively, we are stacking
    background images here. The gradient goes from light green
    to dark green, as defined at the top of the file.
 5. Clipping defines a region over the header that clips our view of
    it. polygon defines the shape.
*/

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)
    ),
    url(../img/hero.jpg);
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);

  // bottom clip looks funky on very narrow devices, so:
  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }

  position: relative;

  /**
     Position absolute. This requires us also to add position: relative
     to the container.
    */
  &__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
  }

  &__logo {
    height: 3.5rem;
  }

  /**
    We center the box in two steps: first, we move the box to 50%/50% 
    within its (relatively positioned) container. Then we use
    transform() to change the point of reference for the element to its
    own 50%/50% point.
    */
  &__text-box {
    position: absolute;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
}
