// Full screen navigation layout
.navigation {
  &__checkbox {
    display: none;
  }

  &__button {
    // The white nav chubchik
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    // Keep the fuggah nailed to the screen
    position: fixed;
    display: inline-block;
    cursor: pointer;

    //border: solid 1px $color-black;
    box-shadow: 0 1rem 3rem rgba($color-black, 0.1);

    top: 5.8rem;
    right: 5.8rem;
    z-index: 1010;

    text-align: center;

    // button is a tad too low on narrow screens:
    @include respond(tab-port) {
      // similar to logo-box on first screen.
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }

  &__background {
    // The green expanding background,
    // hidden behind the button by default.
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 50%;
    // Keep the fuggah nailed to the screen
    position: fixed;
    display: inline-block;

    top: 6rem;
    right: 6rem;
    z-index: 1000;

    @include respond(tab-port) {
      top: 5rem;
      right: 5rem;
    }

    @include respond(phone) {
      top: 4rem;
      right: 4rem;
    }

    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );

    // Using a custom timing function.
    // I use the easeInOutQuint cubic bezier function,
    // from https://easings.net/#easeInOutQuint.
    transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    transform: scale(1);

    //temp so we can see the menu
    //transform: scale(50);
  }
  &__nav {
    height: 100vh;
    //width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1005;

    // Hide this in the normal state.
    // width is 0 as well since we'd trip over
    // invisible links if they were only opaque.
    transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    //backface-visibility: hidden;
    opacity: 0;
    width: 0;
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: $color-white;
      display: inline-block;
      pointer-events: none;

      font-size: 3rem;
      font-weight: 300;

      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        white 50%
      );
      background-size: 220%;
      transition: all 0.4s;
    }

    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary-dark;
      //make the text wave a little bit:
      transform: translateX(1rem);
    }
  }

  // The background is a sibling of the invisible checkbox, so the hack
  // uses the following selector:
  &__checkbox:checked ~ &__background {
    transform: scale(50);
  }

  // Also, the nav itself.
  &__checkbox:checked ~ &__nav {
    opacity: 1;
    width: 100%;

    & .navigation__link {
      pointer-events: unset;
    }
  }

  // Fancy icon for the nav system
  &__icon {
    position: relative;

    &,
    &::before,
    &::after {
      display: inline-block;
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
    }

    &::before,
    &::after {
      position: absolute;
      content: '';
      left: 0;
    }

    & {
      top: 50%;
    }

    &::before {
      top: -0.8rem;
      transition: all 0.2s;
    }

    &::after {
      top: 0.8rem;
      transition: all 0.2s;
    }
  }

  // Hover animation
  &__button:hover &__icon::before {
    top: -1rem;
  }

  &__button:hover &__icon::after {
    top: 1rem;
  }

  // Animate the icon. This can also be done with
  // transform_origin, by moving the origin to the left
  // end of the stripes. You can then move the stripes
  // like hinges, instead of the rotate and translate
  // we do here.
  &__checkbox:checked ~ &__button > &__icon {
    & {
      background-color: transparent;
    }

    &::before {
      background-color: $color-gray-dark-3;
      transform: rotate(135deg);
      top: 0;
    }

    &::after {
      background-color: $color-gray-dark-3;
      transform: rotate(-135deg);
      top: 0;
    }
  }
}
